:root {
    --dark :#374151 ;
    --darker : #1F2937 ;
    --darkest :#111827;
    --gray :#6B7280 ;
    --light :#EEE ;
    --pink :#EC4899 ;
    --purple : #8B5Cf6 ;
    --mustard : #ffda93;
    --sky: #39f1c3;
    --blue: rgb(21, 6, 102);
        }

*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: var(--dark);
    color: #FFF;
}
header{
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}
header h1{
    font-size: 2.5 rem;
    font-weight: 300;
    color: var(--light);
    margin-bottom: 1rem;

}
#Nueva-tarea-form{
    display: flex;
}
input, button{
    appearance: none;
    border: none;
    outline: none;
    background: none;
}
#Nueva-tarea-input{
    flex: 1 1 0%;
    background-color: var(--darker);
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 1rem;
    color: var(--light);
    font-size: 1.25rem;
}
#Nueva-tarea-input::placeholder{
    color: var(--gray);
}
#Nueva-tarea-submit{
    color: var(--pink);
    font-size: 1.2rem;
    font-weight: 700;
    background-image: linear-gradient(to right, var(--purple), var(--pink));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    transition: 0.4s;
}
#Nueva-tarea-submit:hover{
    opacity: 0.8;
    font-size: larger;
}

#Nueva-tarea-submit:active{
    opacity: 0.6;
}
main{
    flex: 1 1 0%;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.Lista-tarea{
    padding: 1rem;
}

.Lista-tarea h2{
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--gray);
    margin-bottom: 1rem;
}
#tareas .tarea{
    display: flex;
    justify-content: space-between;
    background-color: var(--darkest);
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

#tareas .tarea .contenido{
    flex: 1 1 0%;
}

#tareas .tarea .contenido .texto{
    color: var(--light);
    font-size: 1.125rem; 
    width: 100%;
    display: block;
    transition: 0.4s;
}
#tareas .tarea .contenido .texto:not(:read-only){
    color: var(--pink);
}
#tareas .tarea .acciones{
    display: flex;
    margin: 0 -0.5rem;
}
.tarea .acciones button{
    cursor: pointer;
    margin: 0 0.5rem;
    font-size: 1.125rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.4s;
}

.tarea .acciones button:hover{
    opacity: 0.8;
}

.tarea .acciones button:active{
    opacity: 0.6;
}

.tarea .acciones .editar{
    background-image: linear-gradient(to right, var(--blue), var(--sky ));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.tarea .acciones .eliminar{
    color: crimson;
}

/*EMPIEZA EL FORMULARIO*/
.open-button {
    background-color:var(--gray);
    color: var(--sky);
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 34rem;
    width: 280px;
}
#btn-abrir{
    display: block;
}

/* El Pop up oculto por defecto */
.form-popup {
    display: none;
    position: fixed;
    bottom: 0px;
    right: 33rem;
    border: 3px solid var(--sky);
    z-index: 9;
}

/*container */
.form-container {
    max-width: 300px;
    padding: 10px;
    background: var(--darkest);
    border-radius: 1%;
}

.form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: var(--gray);
}

.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: var(--darker);
    outline: none;
}

.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

.form-container .cancel {
  background-color: crimson;
}

/* Efectos de hover a los botones */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
form i {
    margin-left: -30px;
    cursor: pointer;
}
.error{
    color: crimson;
    font-weight: lighter;
}
